.contenedor-crear {
    width: 80%;
    margin: auto;
}

.titulo-registrar {
    margin-top: 80px;
    text-align: center;
}

.campos-registrar {
    margin-bottom: -10px;
    display: flex;
    justify-content: space-around;
}

.segundo-campo input {
    width: 500px;
}

.poster-crear {
    width: 160px;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
}

.portada-crear {
    margin: -90px 20px 0px 0;
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.trailer-crear {
    margin-top: 20px;
    border-radius: 5px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    border-radius: 5px;
    height: 100px;
    width: 100%;
    resize: none;
}
